*~
*.in
*.m4
*.log
*.o
*.la
*.lo
core
Makefile
/compile
/config.h
/config.guess
/config.h.in
/config.sub
/config.status
/configure
/depcomp
/install-sh
/missing
/ltmain.sh
/libtool
/*.cache/
/_tmp/
stamp-*
/debian/files
/debian/libdbd-null/
/debian/*substvars
/debian/*debhelper.log
/debian/autoreconf.*
.libs/
/test-driver
/tests/test-dbd-null
/tests/test-dbd-null-sleep
/tests/test-dbd-null-error
/tests/test-dbd-null-log
/tests/test-dbd-null-error-nth
.deps/
.dirstamp
